<div class="banner relative promotor-banner">
	<div id="video-cover" class="video-cover">
        <video id="video1" class="video-js vjs-default-skin" controls preload="none" data-setup="{}" style="width:100%; top:0; left:0; z-index:-10;" poster="assets/front/videos/home-banner.gif" autoplay loop>
        <source src="assets/front/videos/home-banner.mp4" type="video/mp4">
    </video>
    </div>
    <div class="banner-content">
        <div class="container">
                <div class="pro-banner-content-text text-center">
                    <div class="promoter-banner-ttl">
                    	Lorem Ipsum is simply dummy text
                    </div>
                    <div class="banner-sm-text">
                    	Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        
                    </div>
                    <div class="log-in">
                        <a href="<%= quiz_url %>", class="btn btn-orange"><%= t('register') %></a>
                    </div>

                    
                </div>
        </div>
    </div>
	<div class="start-icon wow bounceInUp">
                    	<a href="#" data-scroll-nav="0">
                            <%= image_tag("front/img/start-icon.png", :title => "", :alt => "image") %>
                        </a>
                        </div>
</div>
<%#= javascript_include_tag 'front/jquery.ddslick.min.js' %>
<%#= javascript_include_tag 'front/custom-dropdown.js' %>