    <div class="form-career">
    <%= form_for(:forgot_password, url: reset_password_url(),:html=>{:name=>'frm_reset',:id=>'frm_reset', :autocomplete =>"off"}) do |f| %>
        <div class="row offset-bottom-20">
            <div class="col-md-6 col-sm-6 col-xs-12 space">
                <%= f.text_field :user_email, class: "form-control", placeholder: "Enter email address" %> 
            </div>
        </div>
        <div class="row offset-bottom-20">
            <div class="col-md-12 col-sm-12 col-xs-12 space">                       
                <div class="sub-t-btn career-btn text-right">
                    <%= button_tag "Submit", class:'btn btn-blue',name:'btn_reset', id:'btn_reset' %> 
                </div>
            </div>
        </div>
        <% end %>
    </div>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>
<%= javascript_include_tag 'admin/jquery.validate-1.14.0' %>
<script>
  $(document).ready(function(){
    $("#frm_reset").validate({
      onkeyup: false,
      errorElement: "div",
      errorClass: "text-danger",
      rules: {
        'forgot_password[user_email]': {
          required : true,
          email: true
        }
      },
      messages: {
        'forgot_password[user_email]': {
          required: "Please enter email address",
          email:"Please enter valid email address."
        }
      },
      submitHandler: function(form) {
        // do other things for a valid form
        $('#btn_reset').attr("disabled","disabled");
        $('#btn_reset').html("<i class='fa fa-spinner fa-spin'></i>");
        form.submit();
        return true;
      }
    });
  });
</script>